$theme-colors: (
  primary:         #000637,
  secondary:       #bbbbf2,
  success:         #b3f1de,
  info:            #1998ff,
  warning:         #ffad00,
  danger:          #ff0000,
  light:           #fcd5c7,
  dark:            #221e1e,

);


$text-muted: #6e6e6e;
$mdi-font-path: "../node_modules/mdi/fonts";